<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Parallel test suite" parallel="tests" >
  <test name="SampleTest" >
  <parameter name="browser" value="firefox"/>
    <classes>
       <class name="mavenseleniumproject.DataManagement" />
    </classes>
  </test>
  <test name="Chrome Test" >
  <parameter name="browser" value="chrome"/>
    <classes>
       <class name="mavenseleniumproject.DataManagement" />
    </classes>
  </test>

</suite>
